/**************************************************************************
 * Left-hand Menu column
 **************************************************************************/
#menu {
  background-color: rgb(32, 33, 35);
  color: rgb(236, 236, 241);
  font-size: .9em;

  /* Layout the items vertically, stretching some */
  display: flex;
  flex-direction: column;

  max-width: 100%;
}

/* Use a media query to hide the menu under 768px wide */
@media only screen and (max-width: 768px) {
  #menu {
    display: none;
  }
}

/**************************************************************************
 * First row in menu: New chat button
 **************************************************************************/
#new-chat {
  max-width: 225px;
  padding: 12px !important;
  /* Override the border being 0 */
  border: 1px solid rgb(77, 77, 79) !important;
  /* Round the corners slightly */
  border-radius: 5px;
}
#new-chat:hover {
  /* When we hover over the li, change the background colour */
  background-color: rgb(52, 53, 65);
  /* Round the corners slightly */
  border-radius: 5px;
}

/**************************************************************************
 * Second row in menu: chat history.
 * Flex this chat history part to fill the
 * available space. The other 2 parts take only the
 * space they need.
 **************************************************************************/
#chat-history {
  /* Stretch this to fill available space */
  flex: 1;
}
#chat-history li button span {
  /* Don't let this grow beyond 180px */
  max-width: 180px;
  /* Use inline-block, so we can set a width */
  display: inline-block;
  /* Don't wrap text */
  white-space: nowrap;
  /* Don't show anything beyond the edge, clip it */
  overflow: hidden;
  /* Show ... at the end if there is more text */
  text-overflow: ellipsis;
}

/**************************************************************************
 * Third row in menu: chat options
 *************************************************************************/
#chat-options {
  /* Add a border above */
  border-top: 1px solid rgb(77, 77, 79);
  /* Add a small margin so the border doesn't go all the way across */
  margin: 5px !important;
}

/**************************************************************************
 * Default overrides and classes
 *************************************************************************/

/**
 * Make the icons smaller, add space to the right
 */
.menu-icon {
  font-size: 18px;
  margin-right: 12px;
}

#menu ul {
  /* Clear the normal padding/margin on the ul */
  padding: 0;
  margin: 0;
}

/**
 * Every li that we use should nave no bullet and use
 * our own margin and padding.
 */
#menu li {
  /* Remove the usual li bullet */
  list-style-type: none;
  /* Alter the spacing around and outside the li */
  margin: 2px 5px;
  padding: 5px 3px;  
}
#menu li:hover {
  /* When we hover over the li, change the background colour */
  background-color: rgb(52, 53, 65);
  /* Round the corners slightly */
  border-radius: 5px;  
}

#menu button {
  /* Get rid of a button's usual border and padding, use our own */
  border: 0;
  padding: 0;
  margin: 10px;

  /* Fill the entire available width */
  width: 100%;
  max-width: 225px;

  /* Align the items in the center vertically */
  display: flex;
  align-items: center;

  /* Use the parent's colours */
  color: inherit;
  background-color: inherit;

  /* Increase font-size slightly */
  font-size: 1em;

  /* Change the cursor to a finger pointer */
  cursor: pointer;
}

/**
 * NEW pill: push to the right, smaller font
 * different colours, rounded corners.
 */
.new-pill {
  font-weight: 500;
  font-size: .82em;
  margin-left: auto;
  margin-right: 15px;
  padding: 4px 5px;
  border-radius: 5px;
  color: rgb(32, 33, 35);
  background-color: rgb(251, 230, 158);
}
